In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('/Users/fish/Downloads/ipDB.db')
c = conn.cursor()

ip_df = pd.read_sql('select * from ip_detail where ip_detail_column is null', conn)
ip_df.head()

                ip ip_detail_column
0    223.200.90.67             None
1  114.198.188.209             None
2   101.14.181.123             None
3   196.64.118.155             None
4     163.24.47.84             None