In [1]:
from netaddr import *
import pandas as pd
import sqlite3

conn = sqlite3.connect('/Users/fish/Downloads/ipDB.db')
c = conn.cursor()

ip_table = pd.read_sql('select 單位名稱, ID, 核發IP範圍 from ipTable', conn)
ip_table.head()

         單位名稱             ID                         核發IP範圍
0  中華電信股份有限公司      HINET-NET  202.39.128.0 - 202.39.255.255
1       衛生福利部  HEALTHNET-NET  203.65.128.0 - 203.65.159.255
2       衛生福利部  HEALTHNET-NET    203.65.0.0 - 203.65.127.255
3  中華電信股份有限公司      HINET-NET    203.69.0.0 - 203.69.255.255
4         教育部      TANET-NET    203.68.0.0 - 203.68.255.255

In [2]:
company = []
ip_address = []

for com, IP in zip(ip_table['單位名稱'], ip_table['核發IP範圍']):
    ip_list = list(iter_iprange(IP.split(' - ')[0], IP.split(' - ')[1]))
    for com_ip in ip_list:
        company.append(com)
        ip_address.append(str(com_ip))

In [12]:
len(company)

33849344

In [13]:
len(ip_address)

33849344

In [20]:
taiwan_company_ip = pd.DataFrame(zip(company, ip_address), columns=['company', 'ip'])
taiwan_company_ip.to_sql('taiwan_company_ip', conn, if_exists='replace', index = False)

In [18]:
taiwan_company_ip = pd.read_sql('select * from taiwan_company_ip', conn)
taiwan_company_ip.head()

      company            ip
0  中華電信股份有限公司  202.39.128.0
1  中華電信股份有限公司  202.39.128.1
2  中華電信股份有限公司  202.39.128.2
3  中華電信股份有限公司  202.39.128.3
4  中華電信股份有限公司  202.39.128.4

In [16]:
not_bot_ip = pd.read_sql('select ip from dataset where bot is Null', conn)
ip_count = pd.DataFrame({'count' : not_bot_ip.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
ip_count.head()

                   ip   count
34889    45.121.50.40  586647
14697   140.110.59.81  532844
36267   52.23.222.220  208726
14578  140.110.35.129  151791
14553  140.110.240.57  133628

In [15]:
ip_detail = pd.read_sql("select * from ip_detail", conn)
ip_detail.head()

                ip                        ip_detail_column
0    223.200.90.67                                    None
1    117.19.224.80  117-19-224-80.dynamic.taiwanmobile.net
2  114.198.188.209                                    None
3   101.14.181.123                                    None
4  120.119.126.105                       nat105.stu.edu.tw

In [14]:
no_detail_ip = ip_detail[ip_detail['ip_detail_column'].isnull()]
no_detail_ip.head()

                 ip ip_detail_column
0     223.200.90.67             None
2   114.198.188.209             None
3    101.14.181.123             None
6    196.64.118.155             None
10     163.24.47.84             None

In [19]:
df3 = no_detail_ip.join(taiwan_company_ip.set_index('ip'), on='ip')
df3

                    ip ip_detail_column         company
0        223.200.90.67             None         國家發展委員會
2      114.198.188.209             None      台固媒體股份有限公司
3       101.14.181.123             None     台灣大哥大股份有限公司
6       196.64.118.155             None             NaN
10        163.24.47.84             None             教育部
14      140.123.51.179             None             教育部
17        31.13.127.43             None             NaN
18       49.219.144.87             None      台灣固網股份有限公司
19      116.26.141.254             None             NaN
28        65.49.68.164             None             NaN
31      49.214.226.221             None      台灣固網股份有限公司
32       101.9.161.120             None     台灣大哥大股份有限公司
37      101.13.212.239             None     台灣大哥大股份有限公司
38      140.112.29.234             None             教育部
42      111.225.147.77             None             NaN
46     111.225.148.130             None             NaN
49        173.252.87.2             None             NaN
54       193.51.236.96             None             NaN
56       61.148.199.18             None             NaN
62     140.110.225.143             None             教育部
71      180.204.20.105             None     台灣大哥大股份有限公司
72      110.249.202.63             None             NaN
77     220.243.136.111             None             NaN
83     140.116.191.229             None             教育部
90       140.122.86.26             None             教育部
91      110.249.202.13             None             NaN
96     220.243.135.102             None             NaN
99      101.13.134.238             None     台灣大哥大股份有限公司
102     192.192.114.58             None             教育部
112      49.217.131.63             None      台灣固網股份有限公司
...                ...              ...             ...
41829   101.15.129.127             None     台灣大哥大股份有限公司
41831   101.13.100.242             None     台灣大哥大股份有限公司
41839    120.113.30.35             None             教育部
41841  116.241.154.120             None  台灣寬頻通訊顧問股份有限公司
41845    49.217.112.44             None      台灣固網股份有限公司
41855  140.134.183.184             None             教育部
41856    140.116.226.5             None             教育部
41858       58.60.1.28             None             NaN
41859    163.17.53.188             None             教育部
41866    103.55.53.254             None             NaN
41875      5.188.44.20             None             NaN
41876   49.216.246.239             None      台灣固網股份有限公司
41877  180.217.178.244             None    台灣之星電信股份有限公司
41881     49.218.33.92             None      台灣固網股份有限公司
41885   220.243.135.85             None             NaN
41886    51.252.76.170             None             NaN
41889    101.15.176.18             None     台灣大哥大股份有限公司
41893   140.123.33.156             None             教育部
41902    1.200.208.167             None    台灣之星電信股份有限公司
41907    110.50.177.67             None    台灣之星電信股份有限公司
41908    163.30.164.30             None             教育部
41909   163.29.253.244             None         國家發展委員會
41911    192.192.7.250             None             教育部
41919     101.11.25.81             None     台灣大哥大股份有限公司
41923  220.243.136.184             None             NaN
41924   140.116.161.24             None             教育部
41931     211.249.40.2             None             NaN
41932   185.69.145.213             None             NaN
41933    60.244.106.11             None      亞太電信股份有限公司
41934    180.217.76.41             None    台灣之星電信股份有限公司

[19551 rows x 3 columns]

In [24]:
df3_drop = df3.drop(['ip_detail_column'], axis=1).dropna()
df3_drop

                    ip         company
0        223.200.90.67         國家發展委員會
2      114.198.188.209      台固媒體股份有限公司
3       101.14.181.123     台灣大哥大股份有限公司
10        163.24.47.84             教育部
14      140.123.51.179             教育部
18       49.219.144.87      台灣固網股份有限公司
31      49.214.226.221      台灣固網股份有限公司
32       101.9.161.120     台灣大哥大股份有限公司
37      101.13.212.239     台灣大哥大股份有限公司
38      140.112.29.234             教育部
62     140.110.225.143             教育部
71      180.204.20.105     台灣大哥大股份有限公司
83     140.116.191.229             教育部
90       140.122.86.26             教育部
99      101.13.134.238     台灣大哥大股份有限公司
102     192.192.114.58             教育部
112      49.217.131.63      台灣固網股份有限公司
119     140.112.68.130             教育部
124     140.109.112.20             教育部
125    115.165.193.135      台固媒體股份有限公司
126        101.9.68.70     台灣大哥大股份有限公司
132      210.69.40.253         國家發展委員會
134    150.116.176.161      是方電訊股份有限公司
154      110.50.130.19    台灣之星電信股份有限公司
170    180.204.217.179     台灣大哥大股份有限公司
178       101.13.18.81     台灣大哥大股份有限公司
201      180.204.32.16     台灣大哥大股份有限公司
202    180.217.235.139    台灣之星電信股份有限公司
206        163.27.8.85             教育部
208      101.9.225.166     台灣大哥大股份有限公司
...                ...             ...
41794  180.217.155.220    台灣之星電信股份有限公司
41804   49.214.172.230      台灣固網股份有限公司
41806  180.217.199.206    台灣之星電信股份有限公司
41815   180.217.225.62    台灣之星電信股份有限公司
41818  140.120.102.128             教育部
41822   163.32.125.186             教育部
41823    180.204.20.69     台灣大哥大股份有限公司
41828    1.200.209.100    台灣之星電信股份有限公司
41829   101.15.129.127     台灣大哥大股份有限公司
41831   101.13.100.242     台灣大哥大股份有限公司
41839    120.113.30.35             教育部
41841  116.241.154.120  台灣寬頻通訊顧問股份有限公司
41845    49.217.112.44      台灣固網股份有限公司
41855  140.134.183.184             教育部
41856    140.116.226.5             教育部
41859    163.17.53.188             教育部
41876   49.216.246.239      台灣固網股份有限公司
41877  180.217.178.244    台灣之星電信股份有限公司
41881     49.218.33.92      台灣固網股份有限公司
41889    101.15.176.18     台灣大哥大股份有限公司
41893   140.123.33.156             教育部
41902    1.200.208.167    台灣之星電信股份有限公司
41907    110.50.177.67    台灣之星電信股份有限公司
41908    163.30.164.30             教育部
41909   163.29.253.244         國家發展委員會
41911    192.192.7.250             教育部
41919     101.11.25.81     台灣大哥大股份有限公司
41924   140.116.161.24             教育部
41933    60.244.106.11      亞太電信股份有限公司
41934    180.217.76.41    台灣之星電信股份有限公司

[13038 rows x 2 columns]

In [25]:
df3_drop.to_sql('ip_in_ip_detail', conn, if_exists='replace', index = False)

## 重新看 ip_detail 未查出來之 IP

In [27]:
ip_detail = pd.read_sql("select * from ip_detail", conn)
no_detail_ip = ip_detail[ip_detail['ip_detail_column'].isnull()]
no_detail_ip.head()

                ip  count ip_detail_column
6   196.64.118.155     40             None
17    31.13.127.43      1             None
19  116.26.141.254      2             None
28    65.49.68.164      8             None
42  111.225.147.77      3             None

In [39]:
len(no_detail_ip)

6513

In [40]:
from ipwhois import IPWhois

In [44]:
IPWhois('140.110.240.1').lookup_rdap(depth=1)

{'nir': None,
 'asn_registry': 'apnic',
 'asn': '7539',
 'asn_cidr': '140.110.0.0/16',
 'asn_country_code': 'TW',
 'asn_date': '1992-12-18',
 'asn_description': 'TWAREN-TW National Center for High-performance Computing, TW',
 'query': '140.110.240.1',
 'network': {'handle': '140.109.0.0 - 140.111.255.255',
  'status': None,
  'remarks': [{'title': 'description',
    'description': 'imported inetnum object for MOEC',
    'links': None}],
  'notices': [{'title': 'Source',
    'description': 'Objects returned came from source\nAPNIC',
    'links': None},
   {'title': 'Terms and Conditions',
    'description': 'This is the APNIC WHOIS Database query service. The objects are in RDAP format.',
    'links': ['http://www.apnic.net/db/dbcopyright.html']}],
  'links': ['http://rdap.apnic.net/ip/140.109.0.0/14'],
  'events': [{'action': 'last changed',
    'timestamp': '2015-12-01T22:24:35Z',
    'actor': None}],
  'raw': None,
  'start_address': '140.109.0.0',
  'end_address': '140.111.255.255',
  'cidr': '140.109.0.0/16, 140.110.0.0/15',
  'ip_version': 'v4',
  'type': 'ALLOCATED PORTABLE',
  'name': 'TANET-BNETS',
  'country': 'TW',
  'parent_handle': None},
 'entities': ['IRT-TWNIC-AP', 'ZDL3-AP'],
 'objects': {'IRT-TWNIC-AP': {'handle': 'IRT-TWNIC-AP',
   'status': None,
   'remarks': [{'title': 'remarks',
     'description': 'Please note that TWNIC is not an ISP and is not empowered\nto investigate complaints of network abuse.',
     'links': None}],
   'notices': None,
   'links': ['http://rdap.apnic.net/entity/IRT-TWNIC-AP'],
   'events': [{'action': 'last changed',
     'timestamp': '2015-10-08T07:58:24Z',
     'actor': None}],
   'raw': None,
   'roles': ['abuse'],
   'contact': {'name': 'IRT-TWNIC-AP',
    'kind': 'group',
    'address': [{'type': None, 'value': 'Taipei, Taiwan, 100'}],
    'phone': None,
    'email': [{'type': None, 'value': 'hostmaster@twnic.net.tw'},
     {'type': None, 'value': 'hostmaster@twnic.net.tw'}],
    'role': None,
    'title': None},
   'events_actor': None,
   'entities': None},
  'ZDL3-AP': {'handle': 'ZDL3-AP',
   'status': None,
   'remarks': [{'title': 'remarks',
     'description': '----------\nimported from ARIN object:\n\npoc-handle: ZL2-ARIN\nis-role: N\nlast-name: Liu\nfirst-name: Zi-Di\nstreet: Ministry of EducationComputerCenter 12th Floor No. 106 Section 2,Ho-ping\ncountry: TW\nmailbox: color@twnmoe10.edu.tw\nfax-phone: 886-2-27377043\nbus-phone: +886-2-27377010\nreg-date: 1970-01-01\nchanged: hostmaster@arin.poc 20020131\nsource: ARIN\n\n----------',
     'links': None}],
   'notices': None,
   'links': ['http://rdap.apnic.net/entity/ZDL3-AP'],
   'events': [{'action': 'last changed',
     'timestamp': '2008-09-04T07:31:00Z',
     'actor': None}],
   'raw': None,
   'roles': ['administrative', 'technical'],
   'contact': {'name': 'Zi Di Liu',
    'kind': 'individual',
    'address': [{'type': None,
      'value': 'Ministry of EducationComputerCenter 12th Floor No. 106 Section 2,Ho-ping'}],
    'phone': [{'type': 'voice', 'value': '+886-2-27377010'},
     {'type': 'fax', 'value': '+886-2-27377043'}],
    'email': [{'type': None, 'value': 'color@twnmoe10.edu.tw'}],
    'role': None,
    'title': None},
   'events_actor': None,
   'entities': None}},
 'raw': None}

In [35]:
ip_description = []

for ip in no_detail_ip['ip']:
    try:
        description = IPWhois(ip).lookup_rdap(depth=1)['asn_description']
        ip_description.append(description)
    except:
        ip_description.append(None)

In [37]:
no_detail_ip['ip_detail_column'] = ip_description
no_detail_ip

/Users/fish/anaconda3/envs/ip_process/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ip,count,ip_detail_column
6,196.64.118.155,40,"MT-MPLS, MA"
17,31.13.127.43,1,"FACEBOOK - Facebook, Inc., US"
19,116.26.141.254,2,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
28,65.49.68.164,8,"HURRICANE - Hurricane Electric LLC, US"
42,111.225.147.77,3,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
46,111.225.148.130,6,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
49,173.252.87.2,3,"FACEBOOK - Facebook, Inc., US"
54,193.51.236.96,8,FR-RENATER Reseau National de telecommunicatio...
56,61.148.199.18,11,CHINA169-BJ China Unicom Beijing Province Netw...
72,110.249.202.63,7,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
77,220.243.136.111,52,CHINA169-BJ China Unicom Beijing Province Netw...
91,110.249.202.13,3,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
96,220.243.135.102,75,CHINA169-BJ China Unicom Beijing Province Netw...
113,37.205.81.216,6,"ZSTTKAS Novosibirsk, Russia, RU"
123,111.225.148.84,15,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
137,220.243.136.77,54,CHINA169-BJ China Unicom Beijing Province Netw...
140,193.57.228.37,1,"PRXM-US-001, US"
153,111.225.148.81,7,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
157,111.225.148.6,15,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
158,23.83.87.145,1,None
167,220.243.135.101,63,CHINA169-BJ China Unicom Beijing Province Netw...
179,210.80.95.68,4,"UUNET - MCI Communications Services, Inc. d/b/..."
181,111.225.148.149,1,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
185,220.243.136.44,91,CHINA169-BJ China Unicom Beijing Province Netw...
198,23.224.185.101,1,"CNSERVERS - CNSERVERS LLC, US"
200,111.225.148.46,13,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
204,166.111.83.172,38,ERX-CERNET-BKB China Education and Research Ne...
207,118.184.36.202,1,"ANCHGLOBAL-AS-AP Anchnet Asia Limited, HK"
218,167.220.235.85,2,"MICROSOFT-CORP-AS - Microsoft Corporation, US"
221,202.131.99.154,2,"BLAZENET-IN-AP BlazeNet_s Network, IN"
...,...,...,...
41623,60.8.165.208,7,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41624,77.51.100.83,1,"ROSTELECOM-AS, RU"
41633,111.225.147.95,17,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
41644,112.1.252.126,23,CMNET-JIANGSU-AP China Mobile communications c...
41650,156.40.254.24,3,"NIH-NET - National Institutes of Health, US"
41652,60.8.9.85,9,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41658,110.249.201.89,4,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41717,49.140.189.239,30,CNGI-CHC-IX-AS-AP CERNET2 IX at Jilin Universi...
41739,60.8.9.100,6,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41740,111.225.147.5,1,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
41745,110.249.201.193,3,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41746,60.8.165.144,10,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41755,134.209.103.147,1,"DIGITALOCEAN-ASN - DigitalOcean, LLC, US"
41761,95.169.226.1,2,"AS15704, ES"
41762,220.243.136.239,100,CHINA169-BJ China Unicom Beijing Province Netw...
41772,140.92.39.38,4,TWAREN-TW National Center for High-performance...
41774,110.249.201.30,6,CHINA169-BACKBONE CHINA UNICOM China169 Backbo...
41780,111.225.148.186,7,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
41781,141.143.213.36,5,"ORACLE-CORPORATION-NL - Oracle Corporation, US"
41783,156.232.158.45,3,"DXTL-HK DXTL Tseung Kwan O Service, HK"
41795,182.232.33.140,17,"AIS3G-2100-AS-AP Advance Wireless Network, TH"
41816,45.114.164.45,11,"TISP-AS TISP LIMITED, HK"
41858,58.60.1.28,8,"CHINANET-BACKBONE No.31,Jin-rong Street, CN"
41866,103.55.53.254,27,"CBRE-AS-HK CBRE Pty Limited, HK"
41875,5.188.44.20,3,"PIN-AS, RU"
41885,220.243.135.85,59,CHINA169-BJ China Unicom Beijing Province Netw...
41886,51.252.76.170,2,"ALJAWWALSTC-AS, SA"
41923,220.243.136.184,58,CHINA169-BJ China Unicom Beijing Province Netw...
41931,211.249.40.2,16,"NHN-AS-KR NBP, KR"
41932,185.69.145.213,27,"VODAFONE_UK_ASN, GB"

In [38]:
no_detail_ip.to_sql('ipwhois', conn, if_exists='replace', index = False)