In [11]:
import sqlite3
import pandas as pd
from netaddr import *

conn = sqlite3.connect('/Users/fish/Downloads/ipDB.db')
c = conn.cursor()

taiwan_com = pd.read_sql('select * from taiwan_company_ip', conn)
taiwan_com.head()

      company            ip location category
0  中華電信股份有限公司  202.39.128.0       TW     None
1  中華電信股份有限公司  202.39.128.1       TW     None
2  中華電信股份有限公司  202.39.128.2       TW     None
3  中華電信股份有限公司  202.39.128.3       TW     None
4  中華電信股份有限公司  202.39.128.4       TW     None

In [2]:
ip_category = pd.read_sql('select * from ipTable2', conn)
ip_category.head()

            ID                               ip category
0  IBM-USF-NET    211.79.208.0 - 211.79.223.255      cmp
1    104IT-NET        202.8.14.0 - 202.8.15.255      cmp
2     SDTV-NET  103.100.164.0 - 103.100.167.255      cmp
3    SUNHO-NET    103.130.92.0 - 103.130.95.255      cmp
4    3LINK-NET  103.123.252.0 - 103.123.255.255      cmp

In [4]:
category = []
ip_address = []

for cate, IP in zip(ip_category['category'], ip_category['ip']):
    ip_list = list(iter_iprange(IP.split(' - ')[0], IP.split(' - ')[1]))
    for com_ip in ip_list:
        category.append(cate)
        ip_address.append(str(com_ip))

In [8]:
taiwan_ip_category = pd.DataFrame(zip(category, ip_address), columns=['category', 'ip'])
taiwan_ip_category.to_sql('taiwan_ip_category', conn, if_exists='replace', index = False)