In [1]:
from netaddr import *
import pandas as pd
import sqlite3

conn = sqlite3.connect('/Users/fish/Downloads/ipDB.db')
c = conn.cursor()

ip_table = pd.read_sql('select 單位名稱, ID, 核發IP範圍 from ipTable', conn)
ip_table.head()

         單位名稱             ID                         核發IP範圍
0  中華電信股份有限公司      HINET-NET  202.39.128.0 - 202.39.255.255
1       衛生福利部  HEALTHNET-NET  203.65.128.0 - 203.65.159.255
2       衛生福利部  HEALTHNET-NET    203.65.0.0 - 203.65.127.255
3  中華電信股份有限公司      HINET-NET    203.69.0.0 - 203.69.255.255
4         教育部      TANET-NET    203.68.0.0 - 203.68.255.255

In [2]:
company = []
ip_address = []

for com, IP in zip(ip_table['單位名稱'], ip_table['核發IP範圍']):
    ip_list = list(iter_iprange(IP.split(' - ')[0], IP.split(' - ')[1]))
    for com_ip in ip_list:
        company.append(com)
        ip_address.append(str(com_ip))

In [12]:
len(company)

33849344

In [13]:
len(ip_address)

33849344

In [20]:
taiwan_company_ip = pd.DataFrame(zip(company, ip_address), columns=['company', 'ip'])
taiwan_company_ip.to_sql('taiwan_company_ip', conn, if_exists='replace', index = False)