In [1]:
import pandas as pd
import datetime
import time
import random
from ckanapi import RemoteCKAN

scidm = RemoteCKAN('https://scidm.nchc.org.tw', apikey='API_KEY')

In [2]:
dataset = pd.read_csv('dataset.csv', header=None, names=['ip', 'dataset','download', 'date', 'size', 'request'])
dataset_org = pd.read_csv('dataset-organization.csv', header=None, names = ['org', 'ip', 'dataset', 'download', 'date', 'size', 'requests'])
dataset_group = pd.read_csv('dataset-group.csv', header=None, names=['group', 'ip', 'dataset','download', 'date', 'size', 'request'])

In [3]:
dataset.head()

,ip,dataset,download,date,size,request
0,66.222.22.250,False,False,25/Mar/2019:06:25:35 +0800,4869,GET / HTTP/1.0
1,66.222.22.250,False,False,25/Mar/2019:06:26:07 +0800,4869,GET / HTTP/1.0
2,66.222.22.250,False,False,25/Mar/2019:06:26:18 +0800,4869,GET / HTTP/1.0
3,66.222.22.250,False,False,25/Mar/2019:06:26:22 +0800,4869,GET / HTTP/1.0
4,66.222.22.250,False,False,25/Mar/2019:06:28:05 +0800,4869,GET / HTTP/1.0

In [4]:
dataset['date'] = pd.to_datetime(dataset.date, format = '%d/%b/%Y:%H:%M:%S +0800')

In [15]:
# 自然司
select_dataset = dataset[(dataset['dataset'] == '8541d765-1e96-4d8a-8b1d-b540f2441476') & (dataset['date'] > '2019-03-31')& (dataset['date'] < '2019-05-01')]
select_dataset.sort_values('date', ascending=True)

# ip_count = pd.DataFrame({'count' : select_dataset.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
# ip_count
# ip_count.to_csv('自然司瀏覽ip.csv', index= False)

,ip,dataset,download,date,size,request
3086158,140.110.59.180,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 10:47:38,6969,GET /dataset/natural-sciences-and-sustainable ...
3086283,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 10:58:28,6964,GET /dataset/natural-sciences-and-sustainable ...
3086310,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 10:59:07,5553,GET /dataset/natural-sciences-and-sustainable/...
3086481,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:13:58,6964,GET /dataset/natural-sciences-and-sustainable ...
3086490,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:14:03,5553,GET /dataset/natural-sciences-and-sustainable/...
3087200,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:55:42,6964,GET /dataset/natural-sciences-and-sustainable ...
3087212,52.114.6.38,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:56:13,23167,GET /dataset/natural-sciences-and-sustainable ...
3087214,52.114.6.38,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:56:16,23167,GET /dataset/natural-sciences-and-sustainable ...
3087216,140.110.59.180,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:56:36,6969,GET /dataset/natural-sciences-and-sustainable ...
3088569,203.145.192.246,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 14:10:18,6368,GET /dataset/natural-sciences-and-sustainable ...
3088594,140.110.59.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 14:11:15,6368,GET /dataset/natural-sciences-and-sustainable ...
3088891,140.110.59.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 14:38:48,6368,GET /dataset/natural-sciences-and-sustainable ...

In [16]:
pd.DataFrame({'count' : select_dataset.groupby(['dataset']).size()}).reset_index().sort_values('count', ascending=False)

                                dataset  count
0  8541d765-1e96-4d8a-8b1d-b540f2441476     12

In [17]:
requ = []

for i in list(select_dataset['request']):
#     print(i.split(' ')[1].split('/')[-1])
    requ.append(i.split(' ')[1].split('/')[-1])

select_dataset['request'] = requ
select_dataset

/home/fish/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,ip,dataset,download,date,size,request
3086158,140.110.59.180,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 10:47:38,6969,natural-sciences-and-sustainable
3086283,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 10:58:28,6964,natural-sciences-and-sustainable
3086310,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 10:59:07,5553,4bdfc713-66c6-43c2-837e-cc3897059cad
3086481,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:13:58,6964,natural-sciences-and-sustainable
3086490,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:14:03,5553,4bdfc713-66c6-43c2-837e-cc3897059cad
3087200,140.110.88.117,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:55:42,6964,natural-sciences-and-sustainable
3087212,52.114.6.38,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:56:13,23167,natural-sciences-and-sustainable
3087214,52.114.6.38,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:56:16,23167,natural-sciences-and-sustainable
3087216,140.110.59.180,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 11:56:36,6969,natural-sciences-and-sustainable
3088569,203.145.192.246,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 14:10:18,6368,natural-sciences-and-sustainable
3088594,140.110.59.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 14:11:15,6368,natural-sciences-and-sustainable
3088891,140.110.59.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-04-11 14:38:48,6368,natural-sciences-and-sustainable

In [18]:
nature_df = pd.DataFrame({'count' : select_dataset.groupby(['request']).size()}).reset_index().sort_values('count', ascending=False)
nature_df

                                request  count
1      natural-sciences-and-sustainable     10
0  4bdfc713-66c6-43c2-837e-cc3897059cad      2

In [19]:
req_list = []
for i in nature_df['request']:
    try:
        req_list.append(scidm.call_action('resource_show', {'id': i})['name'])
    except:
        req_list.append('just view outside')
        pass

nature_df['request'] = req_list
nature_df

             request  count
1  just view outside     10
0     海洋學門資料庫(ODB)網址      2

In [20]:
select_dataset.sort_values(by='date')

,ip,dataset,download,date,size,request
1921662,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:52:26,5444,GET /dataset/natural-sciences-and-sustainable ...
1921675,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:52:44,5408,GET /dataset/natural-sciences-and-sustainable ...
1921678,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:52:56,5121,GET /dataset/natural-sciences-and-sustainable/...
1921698,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:53:53,745,POST /dataset/natural-sciences-and-sustainable...
1921699,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:53:59,5470,GET /dataset/natural-sciences-and-sustainable/...
1921701,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,True,2019-02-15 09:54:00,4630,GET /dataset/natural-sciences-and-sustainable/...
1921725,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:54:03,6347,GET /dataset/natural-sciences-and-sustainable/...
1921728,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:54:09,5002,GET /dataset/natural-sciences-and-sustainable/...
1921736,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:54:32,661,POST /dataset/natural-sciences-and-sustainable...
1921749,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:54:52,5086,GET /dataset/natural-sciences-and-sustainable ...
1921763,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:55:48,5391,GET /dataset/natural-sciences-and-sustainable ...
1921766,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:55:52,4930,GET /dataset/natural-sciences-and-sustainable/...
1921771,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:56:00,4995,GET /dataset/natural-sciences-and-sustainable/...
1921775,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:56:21,745,POST /dataset/natural-sciences-and-sustainable...
1921776,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:56:26,4937,GET /dataset/natural-sciences-and-sustainable/...
1921780,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:56:33,4945,GET /dataset/natural-sciences-and-sustainable/...
1921782,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:56:39,5404,GET /dataset/natural-sciences-and-sustainable ...
1921789,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:56:54,5404,GET /dataset/natural-sciences-and-sustainable ...
1921794,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:01,5004,GET /dataset/natural-sciences-and-sustainable/...
1921796,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:08,4038,GET /dataset/natural-sciences-and-sustainable/...
1921800,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,True,2019-02-15 09:57:13,4081,GET /dataset/natural-sciences-and-sustainable/...
1921803,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:18,5404,GET /dataset/natural-sciences-and-sustainable ...
1921808,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:29,4944,GET /dataset/natural-sciences-and-sustainable/...
1921810,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:33,5004,GET /dataset/natural-sciences-and-sustainable/...
1921814,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,True,2019-02-15 09:57:41,4081,GET /dataset/natural-sciences-and-sustainable/...
1921816,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:46,4038,GET /dataset/natural-sciences-and-sustainable/...
1921818,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:57:52,5404,GET /dataset/natural-sciences-and-sustainable ...
1921823,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:58:01,5004,GET /dataset/natural-sciences-and-sustainable/...
1921827,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:58:13,5404,GET /dataset/natural-sciences-and-sustainable ...
1921850,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 09:59:14,5550,GET /dataset/natural-sciences-and-sustainable ...
...,...,...,...,...,...,...
1925189,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:15:33,5050,GET /dataset/natural-sciences-and-sustainable/...
1925193,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:15:44,745,POST /dataset/natural-sciences-and-sustainable...
1925194,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:15:50,5532,GET /dataset/natural-sciences-and-sustainable/...
1925196,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:15:53,6821,GET /dataset/natural-sciences-and-sustainable ...
1925265,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:19:19,5066,GET /dataset/natural-sciences-and-sustainable/...
1925273,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:20:22,745,POST /dataset/natural-sciences-and-sustainable...
1925276,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 14:20:27,5625,GET /dataset/natural-sciences-and-sustainable/...
1928233,140.96.158.95,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:07:06,6348,GET /dataset/natural-sciences-and-sustainable ...
1928290,140.110.35.128,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:13:33,6348,GET /dataset/natural-sciences-and-sustainable ...
1928373,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:19:21,6348,GET /dataset/natural-sciences-and-sustainable ...
1928378,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:19:35,6348,GET /dataset/natural-sciences-and-sustainable ...
1928381,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:19:42,4844,GET /dataset/natural-sciences-and-sustainable/...
1928388,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:20:04,4844,GET /dataset/natural-sciences-and-sustainable/...
1928390,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:20:13,6348,GET /dataset/natural-sciences-and-sustainable ...
1928399,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:20:49,4844,GET /dataset/natural-sciences-and-sustainable/...
1928418,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:22:04,5629,GET /dataset/8541d765-1e96-4d8a-8b1d-b540f2441...
1928421,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:22:07,5443,GET /dataset/natural-sciences-and-sustainable/...
1928434,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:22:50,5629,GET /dataset/8541d765-1e96-4d8a-8b1d-b540f2441...
1928436,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:22:54,5443,GET /dataset/natural-sciences-and-sustainable/...
1928441,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:23:20,745,POST /dataset/natural-sciences-and-sustainable...
1928442,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:23:26,5639,GET /dataset/natural-sciences-and-sustainable/...
1928459,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:25:41,5459,GET /dataset/natural-sciences-and-sustainable/...
1928462,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:25:56,5639,GET /dataset/natural-sciences-and-sustainable/...
1928471,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 18:26:59,5639,GET /dataset/natural-sciences-and-sustainable/...
1930010,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 20:45:13,6975,GET /dataset/natural-sciences-and-sustainable ...
1930013,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 20:45:16,5640,GET /dataset/natural-sciences-and-sustainable/...
1930052,36.224.247.78,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 20:50:49,6975,GET /dataset/natural-sciences-and-sustainable ...
1931596,118.163.76.164,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-15 22:59:13,6368,GET /dataset/natural-sciences-and-sustainable ...
561941,140.110.35.139,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-22 14:01:48,5642,GET /dataset/8541d765-1e96-4d8a-8b1d-b540f2441...
494132,203.145.212.253,8541d765-1e96-4d8a-8b1d-b540f2441476,False,2019-02-23 11:08:34,6368,GET /dataset/natural-sciences-and-sustainable ...

In [21]:
download_ip_data = select_dataset[select_dataset['download'] == True]
download_ip_count = pd.DataFrame({'count' : download_ip_data.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
download_ip_count
# download_ip_count.to_csv('自然司下載ip.csv', index= False)

               ip  count
0  140.110.35.147      3

In [6]:
download_ip_data
# download_ip_data.to_csv('自然司下載.csv', index = False)

,ip,dataset,download,date,size,request
1921701,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,True,15/Feb/2019:09:54:00 +0800,4630,GET /dataset/natural-sciences-and-sustainable/...
1921800,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,True,15/Feb/2019:09:57:13 +0800,4081,GET /dataset/natural-sciences-and-sustainable/...
1921814,140.110.35.147,8541d765-1e96-4d8a-8b1d-b540f2441476,True,15/Feb/2019:09:57:41 +0800,4081,GET /dataset/natural-sciences-and-sustainable/...

In [37]:
dataset_count = pd.DataFrame({'count': select_dataset.groupby(['dataset']).size()}).reset_index().sort_values('count', ascending=False)

# 將原本 dataset id 單獨拉出來成一個 list
dataset_list = list(dataset_count['dataset'])

#建立空 list 存 for 迴圈向 scidm 取回的資料集名稱
dataset_name = []
for dts in dataset_list:
    name = scidm.call_action('package_show', {'id': dts})['title']
    dataset_name.append(name)

# 將名稱回填到 DataFrame 的 dataset 欄位中
dataset_count['dataset'] = dataset_name
dataset_count

  dataset  count
0     自然司    111

In [20]:
# 國研院
narl_dataset = dataset[(dataset['dataset'] == 'b044c319-8de2-47ad-a721-24bd3fe7964b') & (dataset['date'] > '2019-03-31')& (dataset['date'] < '2019-05-01')]
narl_dataset

# ip_count = pd.DataFrame({'count' : narl_dataset.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
# ip_count
# ip_count.to_csv('國研院瀏覽ip.csv', index= False)

,ip,dataset,download,date,size,request
593990,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-30 19:01:09,5626,GET /dataset/narl/resource/638ea5e5-0729-4f51-...
683793,207.46.13.96,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-29 10:17:40,6701,GET /dataset/narl HTTP/1.0
2059560,58.22.205.68,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-20 11:13:22,6669,GET /dataset/narl HTTP/1.0
2470144,140.110.101.61,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-18 14:31:52,6669,GET /dataset/narl HTTP/1.0
2637402,220.243.136.153,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-18 01:59:07,6669,GET /dataset/narl HTTP/1.0
2705228,140.109.185.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 10:09:06,6669,GET /dataset/narl HTTP/1.0
2705234,140.109.185.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 10:09:26,5139,GET /dataset/narl/resource/d585db6a-e208-4f38-...
2705242,140.109.185.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 10:09:44,5139,GET /dataset/narl/resource/d585db6a-e208-4f38-...
2707379,140.110.240.1,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 15:08:24,7284,GET /dataset/narl HTTP/1.0
3038040,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:26:00,5404,GET /dataset/narl/resource/401f1bf8-0b70-45ac-...
3038044,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:27:53,5395,GET /dataset/narl/resource/9a680e69-c2c6-41b8-...
3038052,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:30:41,5415,GET /dataset/narl/resource/e03f8428-a35d-4e82-...
3038056,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:31:48,5361,GET /dataset/narl/resource/2197db51-990f-46e1-...
3038059,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:32:51,10656,GET /dataset/narl/resource/d9f319d0-3ec9-4c91-...
3038061,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:33:40,5139,GET /dataset/narl/resource/d585db6a-e208-4f38-...
3038070,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:36:42,13776,GET /dataset/narl/resource/b74798eb-e393-4ddc-...
3038072,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:37:18,5556,GET /dataset/narl/resource/51497995-a766-4870-...
3041536,43.255.12.34,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 16:06:29,6669,GET /dataset/narl HTTP/1.0
3042533,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:23:12,5574,GET /dataset/narl/resource/638ea5e5-0729-4f51-...
3042536,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:23:18,5404,GET /dataset/narl/resource/401f1bf8-0b70-45ac-...
3042540,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:23:45,5395,GET /dataset/narl/resource/9a680e69-c2c6-41b8-...
3042547,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:26:03,5415,GET /dataset/narl/resource/e03f8428-a35d-4e82-...
3042550,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:27:25,5361,GET /dataset/narl/resource/2197db51-990f-46e1-...
3042557,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:30:34,10656,GET /dataset/narl/resource/d9f319d0-3ec9-4c91-...
3042559,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:32:17,5139,GET /dataset/narl/resource/d585db6a-e208-4f38-...
3042623,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:40:21,13776,GET /dataset/narl/resource/b74798eb-e393-4ddc-...
3042628,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:41:57,5556,GET /dataset/narl/resource/51497995-a766-4870-...
3085884,140.110.88.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-11 10:08:12,7284,GET /dataset/narl HTTP/1.0
3085908,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-11 10:12:21,6669,GET /dataset/narl HTTP/1.0
3086153,140.110.59.180,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-11 10:47:26,7292,GET /dataset/narl HTTP/1.0
...,...,...,...,...,...,...
3111327,140.110.59.180,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:30:59,5478,GET /dataset/narl/resource_edit/d585db6a-e208-...
3111329,140.110.59.180,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:31:12,7292,GET /dataset/narl HTTP/1.0
3111397,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:40:59,7286,GET /dataset/narl HTTP/1.0
3111404,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:41:14,7286,GET /dataset/narl HTTP/1.0
3111526,140.110.35.144,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:57:55,5926,GET /dataset/b044c319-8de2-47ad-a721-24bd3fe79...
3111530,140.110.35.144,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:58:09,7297,GET /dataset/narl HTTP/1.0
3111625,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:09:10,7286,GET /dataset/narl HTTP/1.0
3111629,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:09:15,5909,GET /dataset/narl/resource/d585db6a-e208-4f38-...
3111676,203.145.212.253,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:17:40,6669,GET /dataset/narl HTTP/1.0
3111683,203.145.212.253,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:18:04,5142,GET /dataset/narl/resource/d585db6a-e208-4f38-...
3115314,220.243.135.228,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 19:26:11,6669,GET /dataset/narl HTTP/1.0
3186158,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:00:40,7090,GET /dataset/narl HTTP/1.0
3186175,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:01:28,7104,GET /dataset/narl HTTP/1.0
3186183,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:02:09,7104,GET /dataset/narl HTTP/1.0
3186194,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:02:34,7104,GET /dataset/narl HTTP/1.0
3186205,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:05:14,7104,GET /dataset/narl HTTP/1.0
3186737,101.137.105.241,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 17:53:48,6482,GET /dataset/narl HTTP/1.0
3188068,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:40:24,6482,GET /dataset/narl HTTP/1.0
3188091,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:41:04,7098,GET /dataset/narl HTTP/1.0
3188126,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:49:36,7098,GET /dataset/narl HTTP/1.0
3188154,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:53:03,7286,GET /dataset/narl HTTP/1.0
3188157,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:53:08,5901,GET /dataset/narl/resource/d585db6a-e208-4f38-...
3188978,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:08:29,6669,GET /dataset/narl HTTP/1.0
3188982,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:08:41,5395,GET /dataset/narl/resource/9a680e69-c2c6-41b8-...
3188988,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:09:33,10656,GET /dataset/narl/resource/d9f319d0-3ec9-4c91-...
3188990,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:10:34,5415,GET /dataset/narl/resource/e03f8428-a35d-4e82-...
3190115,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:31,5915,GET /dataset/narl/resource/d585db6a-e208-4f38-...
3190137,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:37,7292,GET /dataset/narl HTTP/1.0
3190142,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:40,7292,GET /dataset/narl HTTP/1.0
3190146,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:54,5915,GET /dataset/narl/resource/d585db6a-e208-4f38-...

In [21]:
requ = []

for i in list(narl_dataset['request']):
#     print(i.split(' ')[1].split('/')[-1])
    requ.append(i.split(' ')[1].split('/')[-1])

narl_dataset['request'] = requ
narl_dataset

/home/fish/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,ip,dataset,download,date,size,request
593990,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-30 19:01:09,5626,638ea5e5-0729-4f51-9a88-5a3e3d14fbcf
683793,207.46.13.96,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-29 10:17:40,6701,narl
2059560,58.22.205.68,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-20 11:13:22,6669,narl
2470144,140.110.101.61,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-18 14:31:52,6669,narl
2637402,220.243.136.153,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-18 01:59:07,6669,narl
2705228,140.109.185.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 10:09:06,6669,narl
2705234,140.109.185.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 10:09:26,5139,d585db6a-e208-4f38-b813-5850a2462a15
2705242,140.109.185.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 10:09:44,5139,d585db6a-e208-4f38-b813-5850a2462a15
2707379,140.110.240.1,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-15 15:08:24,7284,narl
3038040,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:26:00,5404,401f1bf8-0b70-45ac-a1c7-a724d92afb83
3038044,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:27:53,5395,9a680e69-c2c6-41b8-b096-1dc6c6f2ba8c
3038052,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:30:41,5415,e03f8428-a35d-4e82-9b52-a8ae1ec08b82
3038056,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:31:48,5361,2197db51-990f-46e1-86c5-30f22eca7c3e
3038059,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:32:51,10656,d9f319d0-3ec9-4c91-817b-b48531f142f2
3038061,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:33:40,5139,d585db6a-e208-4f38-b813-5850a2462a15
3038070,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:36:42,13776,b74798eb-e393-4ddc-b49e-431e6f386070
3038072,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 06:37:18,5556,51497995-a766-4870-a022-b85db677e3c0
3041536,43.255.12.34,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 16:06:29,6669,narl
3042533,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:23:12,5574,638ea5e5-0729-4f51-9a88-5a3e3d14fbcf
3042536,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:23:18,5404,401f1bf8-0b70-45ac-a1c7-a724d92afb83
3042540,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:23:45,5395,9a680e69-c2c6-41b8-b096-1dc6c6f2ba8c
3042547,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:26:03,5415,e03f8428-a35d-4e82-9b52-a8ae1ec08b82
3042550,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:27:25,5361,2197db51-990f-46e1-86c5-30f22eca7c3e
3042557,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:30:34,10656,d9f319d0-3ec9-4c91-817b-b48531f142f2
3042559,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:32:17,5139,d585db6a-e208-4f38-b813-5850a2462a15
3042623,66.249.71.11,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:40:21,13776,b74798eb-e393-4ddc-b49e-431e6f386070
3042628,66.249.71.10,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-12 18:41:57,5556,51497995-a766-4870-a022-b85db677e3c0
3085884,140.110.88.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-11 10:08:12,7284,narl
3085908,66.249.71.9,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-11 10:12:21,6669,narl
3086153,140.110.59.180,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-11 10:47:26,7292,narl
...,...,...,...,...,...,...
3111327,140.110.59.180,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:30:59,5478,d585db6a-e208-4f38-b813-5850a2462a15
3111329,140.110.59.180,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:31:12,7292,narl
3111397,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:40:59,7286,narl
3111404,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:41:14,7286,narl
3111526,140.110.35.144,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:57:55,5926,d585db6a-e208-4f38-b813-5850a2462a15
3111530,140.110.35.144,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 09:58:09,7297,narl
3111625,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:09:10,7286,narl
3111629,140.110.35.132,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:09:15,5909,d585db6a-e208-4f38-b813-5850a2462a15
3111676,203.145.212.253,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:17:40,6669,narl
3111683,203.145.212.253,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 10:18:04,5142,d585db6a-e208-4f38-b813-5850a2462a15
3115314,220.243.135.228,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 19:26:11,6669,narl
3186158,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:00:40,7090,narl
3186175,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:01:28,7104,narl
3186183,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:02:09,7104,narl
3186194,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:02:34,7104,narl
3186205,140.110.35.133,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 16:05:14,7104,narl
3186737,101.137.105.241,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 17:53:48,6482,narl
3188068,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:40:24,6482,narl
3188091,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:41:04,7098,narl
3188126,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:49:36,7098,narl
3188154,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:53:03,7286,narl
3188157,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 21:53:08,5901,d585db6a-e208-4f38-b813-5850a2462a15
3188978,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:08:29,6669,narl
3188982,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:08:41,5395,9a680e69-c2c6-41b8-b096-1dc6c6f2ba8c
3188988,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:09:33,10656,d9f319d0-3ec9-4c91-817b-b48531f142f2
3188990,1.160.84.189,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-07 23:10:34,5415,e03f8428-a35d-4e82-9b52-a8ae1ec08b82
3190115,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:31,5915,d585db6a-e208-4f38-b813-5850a2462a15
3190137,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:37,7292,narl
3190142,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:40,7292,narl
3190146,114.32.241.117,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-04-08 04:26:54,5915,d585db6a-e208-4f38-b813-5850a2462a15

In [22]:
narl_df = pd.DataFrame({'count' : narl_dataset.groupby(['request']).size()}).reset_index().sort_values('count', ascending=False)
narl_df

                                              request  count
10                                               narl     52
6                d585db6a-e208-4f38-b813-5850a2462a15     21
3                638ea5e5-0729-4f51-9a88-5a3e3d14fbcf      5
9                e03f8428-a35d-4e82-9b52-a8ae1ec08b82      4
2                51497995-a766-4870-a022-b85db677e3c0      3
4                9a680e69-c2c6-41b8-b096-1dc6c6f2ba8c      3
8                d9f319d0-3ec9-4c91-817b-b48531f142f2      3
0                2197db51-990f-46e1-86c5-30f22eca7c3e      2
1                401f1bf8-0b70-45ac-a1c7-a724d92afb83      2
5                b74798eb-e393-4ddc-b49e-431e6f386070      2
7   d585db6a-e208-4f38-b813-5850a2462a15?inner_spa...      1
11                                              views      1

In [23]:
req_list = []
for i in narl_df['request']:
    try:
        req_list.append(scidm.call_action('resource_show', {'id': i})['name'])
    except:
        req_list.append('just view outside')
        pass

narl_df['request'] = req_list
narl_df

              request  count
10  just view outside     52
6          科技大擂台語音資料集     21
3         大氣水文研究資料庫網址      5
9     政府研究資訊系統(GRB)網址      4
2         台灣惡意程式知識庫網址      3
4     智慧製造智能感測數據資料庫網址      3
8    福爾摩沙衛星三號資料分析中心網址      3
0         HPC用戶歷史用量網址      2
1         結構健康監測資料庫網址      2
5          編號地震事件資料網址      2
7   just view outside      1
11  just view outside      1

In [25]:
pd.DataFrame({'count' : narl_dataset.groupby(['request']).size()}).reset_index().sort_values('count', ascending=False).to_csv('test2.csv')

In [23]:
narl_dataset.sort_values(by='date')

,ip,dataset,download,date,size,request
1922105,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:10:41,6017,GET /dataset/narl HTTP/1.0
1922108,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:10:49,4977,GET /dataset/narl/resource_edit/51497995-a766-...
1922114,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:10:58,661,POST /dataset/narl/resource_edit/51497995-a766...
1922115,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:04,5303,GET /dataset/narl/resource/51497995-a766-4870-...
1922119,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:07,6018,GET /dataset/narl HTTP/1.0
1922123,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:19,4975,GET /dataset/narl/resource_edit/e03f8428-a35d-...
1922127,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:26,661,POST /dataset/narl/resource_edit/e03f8428-a35d...
1922128,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:32,5328,GET /dataset/narl/resource/e03f8428-a35d-4e82-...
1922130,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:35,6018,GET /dataset/narl HTTP/1.0
1922135,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:40,4978,GET /dataset/narl/resource_edit/d9f319d0-3ec9-...
1922139,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:48,661,POST /dataset/narl/resource_edit/d9f319d0-3ec9...
1922140,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:53,5212,GET /dataset/narl/resource/d9f319d0-3ec9-4c91-...
1922142,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:11:57,6019,GET /dataset/narl HTTP/1.0
1922145,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:03,4953,GET /dataset/narl/resource_edit/b74798eb-e393-...
1922150,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:08,661,POST /dataset/narl/resource_edit/b74798eb-e393...
1922151,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:14,5208,GET /dataset/narl/resource/b74798eb-e393-4ddc-...
1922153,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:18,6018,GET /dataset/narl HTTP/1.0
1922158,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:26,4963,GET /dataset/narl/resource_edit/2197db51-990f-...
1922162,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:36,661,POST /dataset/narl/resource_edit/2197db51-990f...
1922163,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:12:42,5205,GET /dataset/narl/resource/2197db51-990f-46e1-...
1922170,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:12,6019,GET /dataset/narl HTTP/1.0
1922175,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:21,4969,GET /dataset/narl/resource_edit/401f1bf8-0b70-...
1922179,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:27,661,POST /dataset/narl/resource_edit/401f1bf8-0b70...
1922180,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:33,5206,GET /dataset/narl/resource/401f1bf8-0b70-45ac-...
1922183,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:35,6018,GET /dataset/narl HTTP/1.0
1922186,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:45,4983,GET /dataset/narl/resource_edit/9a680e69-c2c6-...
1922191,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:53,661,POST /dataset/narl/resource_edit/9a680e69-c2c6...
1922192,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:13:59,5202,GET /dataset/narl/resource/9a680e69-c2c6-41b8-...
1922194,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:14:02,6011,GET /dataset/narl HTTP/1.0
1922355,140.110.35.147,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 10:21:02,6011,GET /dataset/narl HTTP/1.0
...,...,...,...,...,...,...
1931005,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:46:53,7094,GET /dataset/narl HTTP/1.0
1931008,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:46:59,5961,GET /dataset/narl/resource/51497995-a766-4870-...
1931022,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:49:10,7094,GET /dataset/narl HTTP/1.0
1931032,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:50:16,7094,GET /dataset/narl HTTP/1.0
1931040,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:51:01,5961,GET /dataset/narl/resource/51497995-a766-4870-...
1931046,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:51:38,7094,GET /dataset/narl HTTP/1.0
1931047,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:51:41,7094,GET /dataset/narl HTTP/1.0
1931050,36.224.247.78,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 21:51:45,5800,GET /dataset/narl/resource/9a680e69-c2c6-41b8-...
1931486,114.26.220.15,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 22:47:33,6468,GET /dataset/narl HTTP/1.0
1931605,118.163.76.164,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-15 23:00:29,6468,GET /dataset/narl HTTP/1.0
1817150,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:03:46,6468,GET /dataset/narl HTTP/1.0
1817157,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:03:54,13724,GET /dataset/narl/resource/b74798eb-e393-4ddc-...
1817163,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:13,5514,GET /dataset/narl/resource/51497995-a766-4870-...
1817165,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:23,5532,GET /dataset/narl/resource/638ea5e5-0729-4f51-...
1817167,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:26,10616,GET /dataset/narl/resource/d9f319d0-3ec9-4c91-...
1817169,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:30,5372,GET /dataset/narl/resource/e03f8428-a35d-4e82-...
1817171,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:47,5514,GET /dataset/narl/resource/51497995-a766-4870-...
1817197,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:51,5352,GET /dataset/narl/resource/9a680e69-c2c6-41b8-...
1817205,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:56,5357,GET /dataset/narl/resource/401f1bf8-0b70-45ac-...
1817207,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:04:59,5319,GET /dataset/narl/resource/2197db51-990f-46e1-...
1817209,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:05:02,13733,GET /dataset/narl/resource/b74798eb-e393-4ddc-...
1817211,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:05:06,10616,GET /dataset/narl/resource/d9f319d0-3ec9-4c91-...
1817213,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:05:09,5372,GET /dataset/narl/resource/e03f8428-a35d-4e82-...
1817215,140.110.35.130,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-16 11:05:12,5532,GET /dataset/narl/resource/638ea5e5-0729-4f51-...
1655929,140.110.59.28,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-17 10:14:37,5348,GET /dataset/narl/resource/401f1bf8-0b70-45ac-...
1406751,203.145.212.253,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-18 08:35:22,6468,GET /dataset/narl HTTP/1.0
1407467,140.110.35.54,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-18 11:18:30,6468,GET /dataset/narl HTTP/1.0
824104,140.110.35.139,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-19 14:01:15,7094,GET /dataset/narl HTTP/1.0
824107,140.110.35.139,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-19 14:01:21,5980,GET /dataset/narl/resource/638ea5e5-0729-4f51-...
824159,140.110.35.139,b044c319-8de2-47ad-a721-24bd3fe7964b,False,2019-02-19 14:12:42,7094,GET /dataset/narl HTTP/1.0

In [39]:
download_ip_data = narl_dataset[narl_dataset['download'] == True]
download_ip_count = pd.DataFrame({'count' : download_ip_data.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
download_ip_count.to_csv('國研院下載ip.csv', index= False)

In [41]:
narl_dataset_count = pd.DataFrame({'count': narl_dataset.groupby(['dataset']).size()}).reset_index().sort_values('count', ascending=False)

# 將原本 dataset id 單獨拉出來成一個 list
narl_dataset_list = list(narl_dataset_count['dataset'])

#建立空 list 存 for 迴圈向 scidm 取回的資料集名稱
narl_dataset_name = []
for dts in narl_dataset_list:
    name = scidm.call_action('package_show', {'id': dts})['title']
    narl_dataset_name.append(name)

# 將名稱回填到 DataFrame 的 dataset 欄位中
narl_dataset_count['dataset'] = narl_dataset_name
narl_dataset_count

  dataset  count
0     國研院    445

In [24]:
# 人文司
human_dataset = dataset[(dataset['dataset'] == 'dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d') & (dataset['date'] > '2019-03-31')& (dataset['date'] < '2019-05-01')]
human_dataset

# ip_count = pd.DataFrame({'count' : human_dataset.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
# ip_count
# ip_count.to_csv('人文司瀏覽ip.csv', index= False)

,ip,dataset,download,date,size,request
683799,157.55.39.190,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-04-29 10:21:13,5622,GET /dataset/humanities-and-social-sciences HT...
3086163,140.110.59.180,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-04-11 10:47:46,6184,GET /dataset/humanities-and-social-sciences HT...
3088576,203.145.192.246,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-04-11 14:10:25,5590,GET /dataset/humanities-and-social-sciences HT...

In [25]:
requ = []

for i in list(human_dataset['request']):
#     print(i.split(' ')[1].split('/')[-1])
    requ.append(i.split(' ')[1].split('/')[-1])

human_dataset['request'] = requ
human_dataset

/home/fish/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,ip,dataset,download,date,size,request
683799,157.55.39.190,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-04-29 10:21:13,5622,humanities-and-social-sciences
3086163,140.110.59.180,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-04-11 10:47:46,6184,humanities-and-social-sciences
3088576,203.145.192.246,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-04-11 14:10:25,5590,humanities-and-social-sciences

In [26]:
human_df = pd.DataFrame({'count' : human_dataset.groupby(['request']).size()}).reset_index().sort_values('count', ascending=False)
human_df

                          request  count
0  humanities-and-social-sciences      3

In [27]:
req_list = []
for i in human_df['request']:
    try:
        req_list.append(scidm.call_action('resource_show', {'id': i})['name'])
    except:
        req_list.append('just view outside')
        pass

human_df['request'] = req_list
human_df

             request  count
0  just view outside      3

In [28]:
pd.DataFrame({'count' : human_dataset.groupby(['request']).size()}).reset_index().sort_values('count', ascending=False).to_csv('test3.csv')

In [26]:
download_ip_data = human_dataset[human_dataset['download'] == True]
download_ip_count = pd.DataFrame({'count' : download_ip_data.groupby(['ip']).size()}).reset_index().sort_values('count', ascending=False)
download_ip_count

Empty DataFrame
Columns: [ip, count]
Index: []

In [27]:
human_dataset.sort_values(by='date')

,ip,dataset,download,date,size,request
1921956,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:04:50,5509,GET /dataset/humanities-and-social-sciences HT...
1921961,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:04:59,5007,GET /dataset/humanities-and-social-sciences/re...
1921965,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:05:08,739,POST /dataset/humanities-and-social-sciences/r...
1921966,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:05:13,4993,GET /dataset/humanities-and-social-sciences/re...
1921969,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:05:25,5507,GET /dataset/humanities-and-social-sciences HT...
1922201,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:13,5507,GET /dataset/humanities-and-social-sciences HT...
1922206,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:18,5020,GET /dataset/humanities-and-social-sciences/re...
1922208,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:25,739,POST /dataset/humanities-and-social-sciences/r...
1922209,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:31,4995,GET /dataset/humanities-and-social-sciences/re...
1922213,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:34,5514,GET /dataset/humanities-and-social-sciences HT...
1922216,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:38,5014,GET /dataset/humanities-and-social-sciences/re...
1922221,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:45,739,POST /dataset/humanities-and-social-sciences/r...
1922222,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:51,4995,GET /dataset/humanities-and-social-sciences/re...
1922224,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:14:54,5510,GET /dataset/humanities-and-social-sciences HT...
1922328,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:19:24,5510,GET /dataset/humanities-and-social-sciences HT...
1922346,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:20:53,5828,GET /dataset/humanities-and-social-sciences HT...
1922861,140.110.35.69,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 10:53:19,5898,GET /dataset/humanities-and-social-sciences HT...
1923821,66.249.71.14,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 12:04:53,5307,GET /dataset/humanities-and-social-sciences HT...
1924894,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 13:59:57,5909,GET /dataset/humanities-and-social-sciences HT...
1924900,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:09,5011,GET /dataset/humanities-and-social-sciences/re...
1924904,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:23,739,POST /dataset/humanities-and-social-sciences/r...
1924905,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:29,5313,GET /dataset/humanities-and-social-sciences/re...
1924909,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:39,5914,GET /dataset/humanities-and-social-sciences HT...
1924912,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:45,5017,GET /dataset/humanities-and-social-sciences/re...
1924914,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:53,739,POST /dataset/humanities-and-social-sciences/r...
1924915,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:00:59,5298,GET /dataset/humanities-and-social-sciences/re...
1924919,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:01:13,5905,GET /dataset/humanities-and-social-sciences HT...
1925285,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:20:36,5905,GET /dataset/humanities-and-social-sciences HT...
1925325,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:22:56,5010,GET /dataset/humanities-and-social-sciences/re...
1925363,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:24:04,739,POST /dataset/humanities-and-social-sciences/r...
1925365,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:24:10,5317,GET /dataset/humanities-and-social-sciences/re...
1925369,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:24:15,6047,GET /dataset/humanities-and-social-sciences HT...
1925375,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:24:19,5004,GET /dataset/humanities-and-social-sciences/re...
1925399,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:24:55,739,POST /dataset/humanities-and-social-sciences/r...
1925400,140.110.35.147,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 14:25:00,5198,GET /dataset/humanities-and-social-sciences/re...
1928166,140.110.35.128,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 18:03:53,5590,GET /dataset/humanities-and-social-sciences HT...
1928229,140.96.158.95,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 18:06:54,5590,GET /dataset/humanities-and-social-sciences HT...
1928236,140.96.158.95,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 18:07:16,5590,GET /dataset/humanities-and-social-sciences HT...
1928285,140.110.35.128,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-15 18:13:24,5590,GET /dataset/humanities-and-social-sciences HT...
824097,140.110.35.139,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-19 14:00:59,6188,GET /dataset/humanities-and-social-sciences HT...
824100,140.110.35.139,dadbd0b3-7fa4-42ff-8fc6-2954353f2e1d,False,2019-02-19 14:01:07,5314,GET /dataset/humanities-and-social-sciences/re...

In [44]:
human_dataset_count = pd.DataFrame({'count': human_dataset.groupby(['dataset']).size()}).reset_index().sort_values('count', ascending=False)

# 將原本 dataset id 單獨拉出來成一個 list
human_dataset_list = list(human_dataset_count['dataset'])

#建立空 list 存 for 迴圈向 scidm 取回的資料集名稱
human_dataset_name = []
for dts in human_dataset_list:
    name = scidm.call_action('package_show', {'id': dts})['title']
    human_dataset_name.append(name)

# 將名稱回填到 DataFrame 的 dataset 欄位中
human_dataset_count['dataset'] = human_dataset_name
human_dataset_count

  dataset  count
0     人文司     41

In [46]:
tech_gov = pd.concat([dataset_count, narl_dataset_count, human_dataset_count], axis=0)
tech_gov.to_csv('tech_gov.csv', index = False)